<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='auth.css')}}">
        <script src="{{ url_for('static', filename='index.js')}}" defer></script>
        <script src="{{ url_for('static', filename='auth.js')}}" defer></script>
        <title>{% block title%}{% endblock %}</title>
    </head>
    <body>
        <div id="loader" class="loader">
            <div class="spinner"></div>
        </div>
        <div class="notification" id="notification"></div>
        <div id="not" data-success="{{ '1' if signup_success else '0'}}"></div>
        {% block content%} {% endblock %}
        <footer>
            <div class="footer-links">
                <a onclick="toggleDropdown('contact')">Contact</a>
                <a onclick="toggleDropdown('about')">About</a>
                <a href="{{url_for('auth_bp.logout')}}">Log out</a>
            </div>
            <div id="about" class="overlay-dropdown">
                <div class="overlay-content">
                <p>Dummyweb is a demo website for UI practice. Built with love in 2025.</p>
                <button onclick="closeDropdown()">Close</button>
                </div>
            </div>
          
            <div id="contact" class="overlay-dropdown">
                <div class="overlay-content">
                <p>Email: support@dummyweb.com<br>Twitter: @dummyweb</p>
                <button onclick="closeDropdown()">Close</button>
                </div>
            </div>
            <br>
            <div>&copy; 2025</div>
        </footer>
        {% set messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
        {% for category, message in messages %}
        <div id="message" style="display: none;">{{message}}</div>
        <div id="category"style="display: none;">{{category}}</div>
        {% endfor %}
        {% endif %}
    </body>
</html>