<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='auth.css')}}">
        <script src="{{ url_for('static', filename='index.js')}}" defer></script>
        <script src="{{ url_for('static', filename='auth.js')}}" defer></script>
        <title>{% block title%}{% endblock %}</title>
    </head>
    <body>

        <div class="notification" id="notification"></div>
        <div id="not" data-success="{{ '1' if signup_success else '0'}}"></div>
        {% block content%} {% endblock %}
        <footer>
        <div class="footer-links">
            <a href="#">Contact</a>
            <a onclick="about_func()">About</a>
            <a href="{{url_for('auth_bp.logout') if signup_success else url_for('auth_bp.register')}}">{{'Log out' if signup_success else 'Sign Up'}}</a>
        </div>
        <div>&copy; 2025</div>
        </footer>
        {% set messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
        {% for category, message in messages %}
        <div id="message" style="display: none;">{{message}}</div>
        <div id="category"style="display: none;">{{category}}</div>
        {% endfor %}
        {% endif %}
    </body>
</html>